body {
    background-image: url("file:///C:/Users/USUARIO/Documents/eu/PROGRAMA%C3%87%C3%83O/1%C2%B0%20FORMULARIO/fundo.jpg");
}

h1 {
    text-align: center;
    color: rgb(40, 50, 80);
    text-shadow: 1px 1px 2px black;
    font-family: 'Segoe UI'
}

form {
    margin: 0 auto;
    text-align: center border 1px solid rgb(9, 95, 153);
    width: 700px;
    height: 890px;
    padding: 30px;
    box-shadow: 2px 2px 5px black;
    border-radius: 2%;
    color: rgb(40, 50, 80);
}

.img-container {
    text-align: center;
}